<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-4"><b>マイページ</b></h3>
      <div class="d-flex align-items-center">
        <h4><b>登録情報</b></h4>　
        <%= link_to '編集する', customers_information_edit_path, class:"btn btn-success" %>
      </div>
      <p id="notice"></p>
      <table class="table table-bordered">
        <tr>
          <td style="border: 1px solid black;">氏名</td>
          <td style="border: 1px solid black;"><%= @customer.last_name %>  <%= @customer.first_name %></td>
        </tr>
  
        <tr>
          <td style="border: 1px solid black;">カナ</td>
          <td style="border: 1px solid black;"><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
        </tr>
  
        <tr>
          <td style="border: 1px solid black;">郵便番号</td>
          <td style="border: 1px solid black;"><%= @customer.postal_code %></td>
        </tr>
  
        <tr>
          <td style="border: 1px solid black;">住所</td>
          <td style="border: 1px solid black;"><%= @customer.address %></td>
        </tr>
  
        <tr>
          <td style="border: 1px solid black;">電話番号</td>
          <td style="border: 1px solid black;"><%= @customer.phone_number %></td>
        </tr>
  
        <tr>
          <td style="border: 1px solid black;">メールアドレス</td>
          <td style="border: 1px solid black;"><%= @customer.email %></td>
        </tr>
      </table>
      
      <div class="d-flex align-items-center">
        <h4 style="margin-right: 50px;"><b>配送先</b></h4>
        <%= link_to '一覧を見る', addresses_path, class:"btn btn-primary" %>
      </div>
      <p id="notice"></p>
      <div class="d-flex align-items-center">
        <h4 style="margin-right: 25px;"><b>注文履歴</b></h4>
        <%= link_to '一覧を見る', orders_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>