<h1>商品一覧</h1>

<% @items.each do |item| %>
  <div>
    <p><strong>ID:</strong> <%= item.id %></p>
    <p><strong>商品名:</strong> <%= item.name %></p>
    <p><strong>税抜価格:</strong> <%= item.price %>円</p>
    <p><strong>ジャンル:</strong> <%= item.genre.name %></p>
    <p><strong>販売ステータス:</strong> <%= item.is_active ? '販売中' : '販売停止中' %></p>
  </div>
<% end %>