<h1>商品詳細</h1>

<div>
  <%= image_tag @item.image, width: 100, height: 100 %>
</div>

<div>
  <h4>商品名</h4>
  <p><%= @item.name %></p>
</div>

<div>
  <h4>商品説明</h4>
  <p><%= @item.introduction %></p>
</div>

<div>
  <h4>ジャンル</h4>
  <p><%= @item.genre.name %></p>
</div>

<div>
  <h4>税込価格<br>(税抜価格)</h4>
  <p><%= (@item.price * 1.1).round %>円 (<%= @item.price %>円)</p>
</div>

<div>
  <h4>販売ステータス</h4>
  <p><%= @item.is_active ? '販売中' : '販売停止中' %></p>
</div>