<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col">
      <h4><strong>会員一覧</strong></h4>
        <table class='table'>
          <thead style="background-color: #DCC2A1;">
            <tr>
              <th style="border-bottom: 1px solid Transparent;">会員ID</th>
              <th style="border-bottom: 1px solid Transparent;">氏名</th>
              <th style="border-bottom: 1px solid Transparent;">メールアドレス</th>
              <th style="border-bottom: 1px solid Transparent;">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td>
                  <%= link_to admin_customer_path(customer.id), style: "color: black; text-decoration: underline;" do %>
                    <%= customer.last_name %><%= customer.first_name %>
                  <% end %>
                </td>
                <td><%= customer.email %></td>
                <td><%= customer.customer_status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>


