<h1>ジャンル一覧</h1>

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>


<%= form_with(model: @genre, url: admin_genres_path, local: true) do |form| %>
  <%= form.label :name, "ジャンル名" %>
  <%= form.text_field :name, name: 'genre[name]', placeholder: "ジャンル名" %>
  <%= form.submit "新規登録" %>
<% end %>

<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= genre.name %>
      <%= link_to "編集する", edit_admin_genre_path(genre) %>
    </li>
  <% end %>
</ul>