<div class="container" style="margin-top: 10px;">
  <h4><strong>注文履歴一覧</strong></h4>
    <div class="row">
      <table class="table table-bordered">
        <thead style="background-color: rgba(211, 211, 211, 0.5);">
          <tr>
            <th style="border: 1px solid black;">注文日</th>
            <th style="border: 1px solid black;">配送先</th>
            <th style="border: 1px solid black;">注文商品</th>
            <th style="border: 1px solid black;">支払金額</th>
            <th style="border: 1px solid black;">ステータス</th>
            <th style="border: 1px solid black;">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td style="border: 1px solid black;"><%= order.created_at.strftime('%Y/%m/%d') %> </td>
              <td style="border: 1px solid black;">
                〒<%= order.postal_code %></br>
                <%= order.address %></br>
                <%= order.name %>
              </td>
              <td style="border: 1px solid black;">
                <% order.order_details.each do |order_detail|  %>
                  <p><%= order_detail.item.name %></p>
                <% end %>
              </td>
              <td style="border: 1px solid black;"><%= number_with_delimiter(order.total_price) %>円</td>
              <td style="border: 1px solid black;"><%= t("enums.order.status.#{order.status}") %></td>
              <td style="border: 1px solid black;"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <%= paginate @orders %>
    </div>
</div>
