<div class="container">
  <h4>注文履歴詳細</h4>
    <div class ="row">

      <div class="col-8">
        <h5><strong>注文情報</strong></h5>
        <table class="table table-bordered">
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
               〒<%= @order.postal_code %></br>
               <%= @order.address %></br>
               <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= t("enums.order.payment_method.#{@order.payment_method}") %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= t("enums.order.status.#{@order.status}") %></td>
          </tr>
        </table>
      </div>

      <div class="col-4">
        <h5><strong>請求情報</strong></h5>
        <table class="table table-bordered">
          <tr>
            <td>商品合計</td>
            <td><%= ((@order.total_price) - (@order.shipping_fee)) %></td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th>ご請求額</th>
            <td><%= @order.total_price %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5><strong>注文内容</strong></h5>
        <table class="table table-bordered">
          <tr>
            <td>商品</td>
            <td>単価（税込）</td>
            <td>個数</td>
            <td>小計</td>
          </tr>
          <% @order_details. each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.amount) * (order_detail.item.price) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

</div>

