<div class="container">
  <h4>商品一覧</h4>
  <div class="row">
    <div class="d-flex flex-wrap justify-content: space-around">
      <% @items.each do |item| %>
        <div class="card">
          <%= link_to item_path(item.id) do %>
            <p><%= image_tag item.get_image, size:"250x200" %></p>
            <p><%= item.name %></p>
            <p><%= item.price %></p>
          <% end %>
        </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>